---
import BasicLayout from "@/layouts/BasicLayout.astro";
import "@/styles/generic.css";
---

<BasicLayout>
	<main>
		<h1>litestore</h1>
		<p>A fast and self-hostable file storage platform.</p>
		<div>
			<a href="/litestore/docs/" class="btn">View Docs</a>
		</div>
	</main>
</BasicLayout>

<style>
	main {
		height: 100vh;
		padding: 0 5vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5em;
	}
</style>
