---
import BasicLayout from "@/layouts/BasicLayout.astro";
import "@/styles/generic.css";
---

<BasicLayout>
	<main>
		<a href="/litestore/" class="cleanlink"><h1>litestore</h1></a>
		<p>
			There's nothing here at the moment. If you wish, you could view the <a
				href="/litestore/docs/api">API docs</a
			>
		</p>
	</main>
</BasicLayout>

<style>
	main {
		margin: 32px;
	}
</style>
